# https://zed0.co.uk/clang-format-configurator/
IndentWidth: 4
AccessModifierOffset: -4
# The extra indent or outdent of access modifiers, e.g. public:.
UseTab: Never
ColumnLimit: 80
MaxEmptyLinesToKeep: 4
SpaceBeforeParens: ControlStatements
BreakBeforeBraces: Allman
NamespaceIndentation: All
SortIncludes: false
